@font-face {
  font-family: "font";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/OakesGrotesk-Semi-Bold.woff.woff2") format("woff2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/https://s3-us-west-2.amazonaws.com/s.cdpn.io/58281/OakesGrotesk-Semi-Bold.woff.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: "helvetica neue";
}

body {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  background-color: #111;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

figure {
  padding: 0;
  margin: 0;
}

.scroll {
  cursor: -webkit-grab;
  cursor: grab;
}

.scroll-content {
  display: flex;
  white-space: nowrap;
  position: relative;
  height: 100vh;
}

.scroll-content--last {
  position: absolute;
  top: 0;
  left: 0;
}

.hi {
  position: fixed;
  bottom: 2vw;
  left: 2vw;
  color: #fff;
  font-size: 1vw;
  z-index: 999;
  text-decoration: none;
}

.logo {
  position: relative;
}

.logo--top {
  position: fixed;
  top: 2vw;
  left: 2vw;
  z-index: 10;
}

.logo--top img {
  height: 1vw;
  width: auto;
}

.logo--resize {
  margin-bottom: 1rem;
}

.logo--resize img {
  width: 10rem;
  margin: 0 auto;
}

.logo--mask {
  overflow: hidden;
  margin-bottom: 2rem;
}

.logo--mask img {
  width: 15rem;
  height: auto;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
}

.menu-btn {
  position: fixed;
  top: 2vw;
  right: 2vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 999;
}

.menu-btn__circles {
  position: relative;
  height: 0.45vw;
  width: 0.45vw;
  margin-right: 0.75vw;
}

.menu-btn__circle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

.menu-btn__circle--top {
  visiblity: hidden;
  opacity: 0;
}

.menu-btn__text {
  color: #fff;
  font-size: 1vw;
}

.filter {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.filter__list {
  display: flex;
}

.filter__item {
  display: block;
}

.filter__link {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 0 1.5vw;
  font-size: 1.15vw;
  overflow: hidden;
}

.filter__link-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #111;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.75s ease;
  z-index: 2;
}

.filter__link-mask span {
  display: block;
  padding: 0 1.5vw;
  font-size: 1.15vw;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.75s ease;
  color: #fff;
}

.filter__link:hover .filter__link-mask span,
.filter__link.is-active .filter__link-mask span {
  transform: translate3d(0, 0, 0);
}

.filter__link:hover .filter__link-mask,
.filter__link.is-active .filter__link-mask {
  transform: translate3d(0, 0, 0);
}

.slide {
  display: flex;
  width: 50vw;
  height: 100%;
  padding: 20vh 0;
}

.slide--1 {
  align-items: flex-start;
}

.slide--2 {
  align-items: flex-end;
}

.slide--3 {
  align-items: center;
}

.slide:last-child {
  width: 65vw;
  padding-right: 15vw;
}

.slide__inner {
  position: relative;
  padding-left: 15vw;
  width: 100%;
}

.slide__sub-title {
  position: absolute;
  top: 15%;
  left: 5vw;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1vw;
}

.slide__title {
  position: absolute;
  top: 7.5%;
  left: 7.5vw;
  color: #fff;
  font-size: 4vw;
  z-index: 2;
  overflow: hidden;
}

.slide__project {
  color: #fff;
  position: absolute;
  top: 100%;
  right: 5%;
  font-size: 1.15vw;
  padding-top: 1.5vw;
}

.slide__img {
  position: relative;
  overflow: hidden;
  padding-top: 65%;
  width: 100%;
}

.slide__img figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__img figure img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.scrollbar {
  position: absolute;
  bottom: 7.5%;
  left: 20%;
  right: 20%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.scrollbar__handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: #fff;
}

.mask {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.mask__slice {
  flex: 1;
  background-color: #000;
}

.mask__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mask-line {
  position: relative;
  transform-origin: left;
  width: 20rem;
  height: 2px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.25);
  visibility: hidden;
  opacity: 0;
}

.mask-line__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left;
}

.resize {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 9999;
}

.resize__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.resize span {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 800px) {
  .resize {
    display: block;
  }
}

@media (max-height: 600px) {
  .resize {
    display: block;
  }
}

/* #Link to page
================================================== */

.link-to-portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: 65%;
  background-repeat: no-repeat;
  background-image: url('./t.webp');
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, .1);
}

.toggle-base-data {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 200;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: 65%;
  background-repeat: no-repeat;
  background-image: url('./close.svg');
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
  transition: all .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}

.toggle-base-data:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, .1);
  transform: rotate(180deg);
}


.hide {
  display: none;
}

.full-view {
  width: 100%;
  height: 100%;
}

.scroll-v {
  position: block;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-v::-webkit-scrollbar {
  display: none;
}

.scroll-v::-webkit-scrollbar-track {
  background: transparent;
}

section {
  min-height: 100vh;
  max-height: max-content;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 5em;
  scroll-snap-align: start;
  animation: fade-in 500ms ease-in-out;
  -webkit-animation: fade-in 500ms ease-in-out;
  flex-direction: column;
}

section h1 {
  animation-delay: 210ms;
  -webkit-animation-delay: 210ms;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}

section .section-data {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 5em;
  animation-delay: 210ms;
  -webkit-animation-delay: 210ms;
  font-weight: 500;
  color: #333;
  text-align: center;
  max-width: 80vw;
}

section .section-data pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}


.break-lines::after {
  content: attr(data-content);
  white-space: pre-line;
}


section .hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 500ms ease-in-out;
}

section .show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: all 500ms ease-in-out;
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}

.v-ctr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.neon-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  transition: box-shadow 0.3s;
}

.neon-button:hover {
  animation: neon-effect 1s infinite;
  box-shadow: 0 0 20px 5px #33ccff;
  background-color: #33ccff;
}

.slide__title :hover {
  animation: neon-effect 1s infinite;
  box-shadow: 0 0 20px 5px #33ccff;
  color: #33ccff;
}

@keyframes neon-effect {
  0% {
    box-shadow: 0 0 5px 2px #33ccff;
  }

  50% {
    box-shadow: 0 0 20px 5px #33ccff;
  }

  100% {
    box-shadow: 0 0 5px 2px #33ccff;
  }
}

#section1 {
  background-color: #7EC8E3;
}

#section2 {
  background-color: #B6D7B1;
}

#section3 {
  background-color: #F3B1B3;
}

#section4 {
  background-color: #C6A4D6;
}

#section5 {
  background-color: #A1D6CA;
}

#section6 {
  background-color: #FEBF8A;
}